@charset 'utf-8';

// 默认用色
$defultColor:#0399f9;
$defultActiveColor:#0086db;
// 默认背景色
$defultBgColor:#f5f5f5;
$danger:#F56C6C;
$success:#67C23A;
$warning:#E6A23C;
$info: #909399;
$orange: #FF9900;
// 默认字体
$defultFontColor:#1f2f3d;


// 边线背景色
$borderColor:#dcdcdc;


// 一般弹窗类背景色
$initSystemColorDefaults:#f5f6f7;

$login_from_bg:white;
// input bg
$input-fs-bg:#f2f4f5;

// 滚动条颜色
$scrollbarColor:rgba(0, 0, 0, .2);

// 导航边色
$header-boder-color:rgba(255,255,255,.2);
// 导航字体颜色
$header-color:white;
