@charset 'utf-8';

$small:12px;

$font: 12px/1.5 "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;// 字体大小

$defult_font_size:14px;
// 小字12.6 px
$small_font_size:$defult_font_size * 0.8;
// 一般字16.4 px
// 小标题等等
$sort_font_size:$defult_font_size * 1.2;
// 中号字 22.4px
$in_font_size:$defult_font_size * 1.6;
// 大号字28px
$big_font_size:$defult_font_size * 2;
// 大号字33.6px
$huge_font_size:$defult_font_size * 2.4;

$border-radius:4px;

$defult_size:15px;

$defult_pd:15px;

$defult_line-height:30px;

$login_login_size:140px;

// 导航标题大小
$header_font_size:$in_font_size;
// 导航高度
$header_height:61px;
// 导航头像大小
$header_photo_size:50px;
