.el-popper {
    border-radius: var(--radius);
    padding: var(--spacing);
    font-size: var(--defaultFontSize);

    .el-dropdown-menu {
        background-color: white;
        border-radius: var(--radius);
        padding: 0;

        .el-dropdown-menu__item {
            height: var(--defaultHeight);
            line-height: var(--defaultHeight);
            color: var(--defaultFontColor);
            padding: 0 var(--spacing);
            font-size: var(--defaultFontSize);
        }
    }
}